// css for older IE to set viewport correctly (see http://www.youtube.com/watch?v=8J6EdpXdzqc&feature=youtu.be for details)
@-ms-viewport {
    width: device-width;
}
@media screen and ( max-width: 400px ) {
	.excercise {
  	background-color: lightgreen;
	}
}
@media screen and ( min-width: 400px, max-width: 1024px ) {
	// SEARCH FIRST
	#search {
  	display: none;
	}
	.excercise {
  	display: none;
	}
}
@media screen and ( min-width: 1025px ) {
	.excercise {
  	background-color: green;
	}
}

// parts	theory
//				excercise
//				interesting links /video enz
//				scripts to run
//				test
//				links to code alla codepen en fiddle
//				change or advice on text
//				search options 
//				visual on content
//				content

